<form action="/:id/add/product" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" value="">
  <label for="description">Description</label>
  <textarea name="description" cols="20" rows="10"></textarea>
  <input type="file" name="picture" value="">
</form>
