<div id="index">
<nav id="nav">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Gfree</a>
      <ul id="nav-mobile">
        <li><a href="/signup"> Sign Up </a></li>
        <li><a href="/login"> Login </a></li>
      </ul>
    </div>
  </nav>

  <h1 class="title">Welcome to <%= title %></h1>
  <h3 class="title"><%= subtitle %></h3><br>
  <div id="big-logo"><img class="responsive-img" src="/images/gluten-free-logo.jpg"></div>

  <footer id="footer" class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <p class="white-text">Learn more about us</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
</div>
