<<<<<<< HEAD
<h2>Hello <%= user.username %> </h2><br>
<form id="postForm">
  <label for="name">Place's name</label>
  <input type="text" id="placeName"name="name" value="">
  <input type="radio" name="rol" value="Shop">Shop
  <input type="radio" name="rol" checked="checked" value="Restaurant">Restaurant
  <input type="text" id="autocomplete">
  <input type="hidden" id="placeLat" name="lat" value="">
  <input type="hidden" id="placeLng" name="lng" value="">
  <input type="hidden" id="placeAddress" name="address" value="">
  <input type="hidden" id="placePicture"name="picture" value="">
  <button id="create">Pick </button>
</form>
=======
>>>>>>> dev

  <nav class="dark" >
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Gfree</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/map">Map</a></li>
        <li><a href="/profile">Your Profile</a></li>
        <li><a href="/logout">LogOut</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/map">Map</a></li>
        <li><a href="/profile">Your Profile</a></li>
        <li><a href="/logout">LogOut</a></li>
      </ul>
    </div>
  </nav>
<div class="row eliminar">
  <a href="#" id="show-form" class="slide btn-floating btn-large"><i class="material-icons">search</i></a>
  <form id="postForm" class="col s12 m6 offset-m3 scale-transition scale-out" >
    <div class="row">
      <div class="input-field col s5">
        <input type="text" class="visibles" id="placeName" name="name" placeholder="Place Name" value="">
      </div>
      <div class="input-field col s5">
        <input type="text" class="visibles" id="autocomplete">
        <input type="hidden" id="placeLat" name="lat" value="">
        <input type="hidden" id="placeLng" name="lng" value="">
        <input type="hidden" id="placeAddress" name="address" value="">
        <input type="hidden" id="placePicture" name="picture" value="">
    </div>
    <div class="margen input-field col s2 ">
      <a href="#" id="create">PICK </a>
    </div>
    </div>
    <div class="row">
      <div class="col s6">
      <input class="radio" value="Restaurant" name="rol" type="radio" id="test1" checked />
      <label class="radio" for="test1">Restaurant</label>
      <input class="radio" value="Shop" name="rol" type="radio" id="test2" />
      <label class="radio" for="test2">Shop</label>
    </div>
      <div class="col s6">
    <form>
      <p class="loof">Look for:
          <input type="checkbox" value="Shop" name="filter" id="test5" checked/>
          <label for="test5">Shop</label>
          <input type="checkbox"value="Restaurant" name="filter" id="test6" checked="checked" />
          <label for="test6">Restaurant</label>
      <a href="#"id="filterPlace">Search</a>
    </p>
    </form>
  </div>
</div>
  </form>


<<<<<<< HEAD
<div id="map"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=apiKey%>&libraries=places"></script>
=======

</div>
</div>
<div class="col s12">
  <div id="map"></div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=apiKey%>&libraries=places&callback=initMap" async defer></script>
>>>>>>> dev
<script type="text/javascript" src="javascripts/fillInputs.js"></script>
<script type="text/javascript" src="javascripts/getPlaces.js"></script>
<script type="text/javascript" src="javascripts/button.js"></script>
<script type="text/javascript" src="javascripts/filter.js"></script>
<script type="text/javascript" src="javascripts/toggle.js"></script>
<script type="text/javascript" src="javascripts/main.js"></script>
