<form class="" action="/add/place" method="post">
  <label for="name">Place's name</label>
  <input type="text" id="placeName"name="name" value="">
  <input type="text" id="autocomplete">
  <input type="hidden" id="placeLat" name="lat" value="">
  <input type="hidden" id="placeLng" name="lng" value="">
  <input type="hidden" id="placeAddress" name="address" value="">
  <input type="hidden" id="placePicture"name="picture" value="">
  <input type="submit" name="" value="Pick">
</form>


<div id="map"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAX6RsStZrkIKLH3c3l0ghnDzGuwrUUC9E&libraries=places&callback=initMap" async defer></script>
<script type="text/javascript" src="javascripts/fillInputs.js"></script>
<script type="text/javascript" src="javascripts/main.js"></script>
