<div id="profile">
<section id="section1">

  <h1><%= user.username %></h1>
      <!-- <a href="#" class="brand-logo">Gfree</a> -->
      <div>
      <ul>
        <li><a href="/edit">Edit profile</a></li>|
        <li><a href="/<%= user._id %>/delete/">Delete your account</a></li>|
        <li><a href="/home">Go back</a></li>|
      </ul>
    </div>
    <div id="img-profile">
<img src="<%= user.picture.pic_path %>"><br>
</div>
</section>
<section id="favorites">
<h4 class="collection with-header">Favorites</h4>
              <% places.forEach(place =>{%>
                <% if(place.favorite.length > 0){%>
                <%for(var i = 0; i< place.favorite.length; i++){%>
                  <%if(place.favorite[i].toString() === user._id.toString()){%>
                      <p class="collection-item"><%= place.name%><i class="material-icons">send</i></p>
                  <%}%>
                <%}}%>
              <%})%>
    </section>

<footer id="footer" class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <p class="white-text">Learn more about us</p>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2017 Copyright Text
          <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
          </div>
        </div>
      </footer>
    </div>
