$color-one: #004056;
$color-two: #2c858d;
$color-three : #74ceb7;
$color-four: #c9ffd5;
$color-five : #ffffcb;


body{
  font-family: 'Montserrat', sans-serif;
  margin-top:0;
  padding-top:0;
  padding-bottom:0;
  margin-bottom:0;
  margin: 0 auto;
}

#img-profile{
  width:40%;
  height:auto;
  margin: 0 30%;
}

#login{
  background-image: url("/images/fondo5.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

#login h2{
  color: $color-one;
}

#login label{
  color: $color-one;
  font-size: 14px;
}

#signup h2{
  color: #FFF;
}

#signup p{
  color: #FFF;
}

#signup label{
  color: #FFF;
  font-size: 14px;
}

#signup a{
  color:$color-two;
}

#login a{
  color:$color-one;
  padding-top: 5%;
  font-size: 14px;
}

#addproduct h2,p{
  color: #DCDCDC;
}

#addproduct label{
  color: #DCDCDC;
  font-size: 14px;
}

#addproduct .btn{
  background-color: #DCDCDC;
  color: #000;
}


#signup{
  background-image: url("/images/fondo6.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

#addproduct{
  background-image: url("/images/fondo7.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

#edit-body{
  background-image: url("/images/fondo8.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  color:#000;
}



#edit-body label{
  color: #000;
  font-size: 14px;
}

#edit-body button{
  background-color: $color-one;
}

//profile
#profile{
  background-color: #F7f7f7;
}

#profile .nav-wrapper{
  background-color: #3b5998;
}
.nav-mobile{
  float:right;
}

.brand-logo{
  left: 45%;
}

.background-image{
  background-image: url("/images/fondo.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

.section1{
  text-align: center;
  margin-top: -20%;
}

.section1 li{
  display: inline-block;
  padding: 2%;

}

#profile .page-footer{
  background-color: #3b5998;
}

@media (min-width: 1100px) {
  #profile{
    width: 70%;
    margin: 0 15%;
  }
  #profile #footer{
    width:70%;

  }
}

@media (max-width: 600px) {
  #profile{
    width: 100%;
    padding:0;
    margin:0;

  }
  #profile footer{
    width:100%;
    padding: 0 5%;
    margin: 0;
  }
}
