$color-one: #004056;
$color-two: #2c858d;
$color-three : #74ceb7;
$color-four: #c9ffd5;
$color-five : #ffffcb;

body{
  padding: 0px;
}
.product-header{
  height: 50vh;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0,64,86,0.5)
}
.res-name, .address{
  position: absolute;
  bottom:0px;
  left: 20px;
  color:white;
}
.res-name{
  bottom:20px;
  left:10px;
}
.place-title{
  font-weight: 200;
}

.add{
  position: absolute;
  text-decoration: none;
  font-size: 30px;
  color:$color-four;
  bottom: 20px;
  right:50px;
  border:4px solid $color-four;
  padding: 10px 20px;
}
#love{
  color: yellow;
  position: absolute;
  bottom:20px;
  right: 240px;
}
.list-title{
  padding:10px 0;
  margin:0;
  background: $color-one;
  color: $color-five;
  border-bottom: 1px solid $color-two;
}
.list-pr{
  margin: 0;
}
.list-pr .ul-products{
  margin: 0;
  border:0;
}
.value .translation{
  position:relative;
  background-color: $color-one;
  color: $color-four;
  border-bottom: 1px solid $color-two;
}
.value .collapsible-body{
  background-color: $color-one;
  color:$color-three;
}
.delete{
top:30px;
position: absolute;
right: 20px;
color:red;
}
.product-img{
  width:60px;
  height:60px;
}
.product-tittle{
  margin-left: 30px;
}
#translator > div > div > input{
  color: $color-five;
  position: relative;
}
.boton-translate{
  position: absolute;
  top:20px;
  left: 33% !important;
  font-size: 20px;
}
.boton-translate a{
  color: $color-four;
  border: 2px solid $color-four;
  padding: 5px;
}
#map{
  width: 100%;
  height: 92vh;
}
#postForm{
  position: absolute;
  z-index:1;
  background: $color-one;
}
#postForm .visibles{
  color: white;
}
#create{
  color: $color-four;
  font-size: 25px;
  padding: 5px;
  border: 3px solid $color-four;
  margin-top:5px;
}
.margen{
  margin-top:20px !important;
  text-align: center;
}
.eliminar, .row{
  margin-bottom: 0 !important;
}
.radio{
  margin-bottom:20px;
  color: $color-five;
}
.picture-info{
  width:100%;
  height:100px;
  background-size: cover;
  background-position: center;
  position: relative;
}
.info-title{
  color: $color-one;
}
.favorites {
  display: inline-block;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Gold_Star.svg/2000px-Gold_Star.svg.png");
  background-size: contain;
  padding: 15px 20px;
  text-align: center;
  font-size:17px;
  position: absolute;
  top:34%;
  right:16%;
}
.loof{
  margin-top:0 !important;
  color: $color-five;
}
.loof label{
  color: $color-five;
}
.toplace{
  color: $color-two;
  padding: 5px 10px;
  border: 3px solid;
  font-size: 20px;
  font-weight: 400;
}
.btnGo{
  margin-top:20px;
  text-align: right;
}
#filterPlace{
  margin-left: 20px;
  color: $color-three;
  padding: 3px 5px;
  border: 3px solid;
  font-size: 15px;
  font-weight: 400;
}
.fondo{
  height: 100vh;
  background: #014860;
}
#show-form{
  position: absolute;
  left:50%;
  top:15%;
  transition: left 0.3s, top 0.3s;
}
.slide{
  top:13% !important;
  left:2% !important;
}
.dark{
  background: $color-two;
}
.first{
  height:93vh;
  background-image: url("/images/landing.jpeg");
  background-position: center;
  background-size: conver;
  background-repeat: no-repeat;
  position: relative;
}

.main-title{
  margin: 0 auto;
  position: absolute;
  top:25%;
  left:35%;
}
#title{
  font-family: 'Dancing Script', cursive;
  color: #d5d6cf;
  font-size:180px !important;
}
.brand-logo{
  font-family: 'Dancing Script', cursive;
}
#nav{
  background-color: $color-two;
}
.text-info{
  background: #d5d6cf;
  height: 720px;
  padding: 0 !important;
  margin: 0;
  position: relative;
}
.text-written{
  position: absolute;
  width:40%;
  top: 40%;
  left:30%;
}
.section-title{
  color: $color-two;
  border-bottom: 2px solid $color-one;
}
.first-section{
  position: relative;
  bottom:50px;
  z-index: 2;
}
.second-section{
  position: relative;
  bottom: 150px;
  z-index: 2;
}
.third-section{
  position: relative;
  bottom: 250px;
  z-index: 2;
}
.first-holder{
  height: 500px;
  position: relative;
  bottom:100px;
  z-index: 1;
}
.second-holder{
  height: 500px;
  position: relative;
  bottom:200px;
  z-index: 1;
}
.second-back{
  background-image: url("/images/second-holder.jpg");
  background-position: center;
  background-size: cover;
}
.first-back{
  background-image: url("/images/first-holder.jpg");
  background-position: center;
  background-size: cover;
}
#index{
  background-color: $color-one;
  z-index: -3;
}
@media screen and (max-width:700px){
  .list-pr .ul-products{
    border:0;
  }
  .container{
    margin:0 !important;
    width: 100% !important;
  }
  .product-header{
    height: 50vh;
  }
  .res-name{
    font-size: 28px;
    left:18px;
    bottom:30px;
  }
  .address{
    font-size: 20px;
  }
  .add{
    font-size: 17px;
    bottom:60%;
    right: 30px;
  }
  #love{
    bottom:58%;
    right:150px;
  }
  #show-form{
    left:45%;
    top:31%;
  }
  .hideme{
    display: none;
  }
  .first-section,.second-section,.third-section,.first-holder,.second-holder{
    bottom:0
  }
  #title{
    font-size:70px !important;
  }
}
